body {
    font-family: monospace;
}
h1{
    color: white;
}
.btn1{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: wheat;
    margin: 25px;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 11%;
    border-radius: 5px;
    border: 0;
}
.btn2{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: wheat;
    margin: 25px;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 6%;
    border-radius: 5px;
    border: 0;
}
.btn3{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: wheat;
    margin: 25px;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 11%;
    border-radius: 5px;
    border: 0;
}
.btn4{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: wheat;
    margin: 25px;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 5%;
    border-radius: 5px;
    border: 0;
}
.btn5{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: wheat;
    margin: 25px;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 10%;
    border-radius: 5px;
    border: 0;
}
caption {
    color: wheat;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}
.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}
.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}
.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}